[jobinfo]
created_at=2026-04-20 18:43:29
title=DME_1_DropViz_L2

[version]
FUMA=v1.8.3
MAGMA=v1.10

[params]
snp2geneID=728319
inputfile=NA
ensg_id=1
datasets=DropViz_TH_level2:DropViz_STR_level2:DropViz_SN_level2:DropViz_PC_level2:DropViz_HC_level2:DropViz_GP_level2:DropViz_FC_level2:DropViz_ENT_level2:DropViz_CB_level2
adjPmeth=bonferroni
step2=1
step3=1